html {
  background-color: #ececec;
}

body {
  font-family: 'Source Sans Pro',Helvetica,sans-serif
}

a, a:visited {
  color: #fff;
  text-decoration: none !important;
}

.is-show {
  display: block !important;
}

.is-hidden {
  display: none !important;
}
